body{
	color: black;
	background-color: lavender;
	font-family: arial, sans-serif;
	margin: 0;
	padding: 0;
}
.intro{
	color: white;
	background-color: mediumpurple;
	text-align: center;
	padding-bottom: 20px;
}
h1{
	margin-top: 0;
	font-family: georgia, times;
}
p{
	padding: 10px;
}
.navbar{
	position: relative;
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	background-color: rebeccapurple;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 5px;
}
.navbar li{
	float: left;
	position: relative;
}
.navbar li a{
	color: white;
	text-decoration: none;
	display: block;
	font-size: 18px;
}
.navbar li a:hover{
	color: mediumpurple;
}
.dropdown-menu{
	display: none;
	position: absolute;
	top: 100%;
	width: 180px;
	background-color: rebeccapurple;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.dropdown-menu li a{
	display: block;
	padding: 10px 15px;
	text-align: left;
}
.dropdown:hover .dropdown-menu{
	display: block;
}
@media all{
	body{
		color: black;
		background-color: lavender;
	}	
}
@media print{
	body{
		color: black;
		background-color: none;
	}
}