h1{
	text-align: center;
}

.input-area{
	margin-bottom: 10px;
}

table{
	width: 100%;
    table-layout: fixed;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

thead{
	background-color: lightgray;
}