body{
	font-family: arial, sans-serif;
	background-color: lavender;
	padding: 0;
}
.main-container{
	width: 1000px;
	display: flex;
	justify-content: center;
	align-items: stretch;
	background-color: white;
	margin: 0 auto;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.left-panel{
	width: 30%;
	display: flex;
	flex-direction: column;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	overflow: hidden;
	background-color: mediumpurple;
}
.photo-panel img{
	width: 100%;
}
.text-content{
	color: white;
	padding: 10px;
	margin-top: 0;
}
.text-content h1{
	margin-bottom: 0;
}
.text-content img{
	margin-top: 10px;
}
.left-title{
	font-weight: bold;
	border-bottom: 2px solid white;
	padding-bottom: 10px;
	margin-top: 20px;
	margin-bottom: 0;
}
.right-panel{
	width: 70%;
	padding: 20px;
}
.section{
	color: black;
	background-color: white;
}
.section-title{
	font-weight: bold;
	border-bottom: 2px solid black;
	padding-bottom: 5px;
	margin-top: 15px;
}
.year{
	font-weight: bold;
	margin-left: 5px;
}
.description{
	margin-left: 10px;
}
.tag {
    display: inline-block;         
    background-color: lavender;    
    color: darkviolet;                 
    padding: 5px 10px;             
    border-radius: 12px;            
    margin-right: 10px; 
 } 
 .hwlab-section{
 	display: flex;
 	gap: 20px;
 	margin-top: 20px;
 }
 .hw-column, .lab-column{
 	width: 50%;
 	background-color: lavender;
 	padding: 10px;
 	border-radius: 10px;
 	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
 }
 .hw-column h3, .lab-column h3{
 	margin-left: 12px;
 }
 .hw-column a, .lab-column a {
 	text-decoration: none; 
 	color: darkviolet;
 }
.hw-column a:hover, .lab-column a:hover {
	color: violet;
}
.music-row{
	display: flex;
	justify-content: space-between;
	gap: 20px;
	margin-left: 30px;
	margin-right: 30px;
}
.music-row a {
	color: black;
    text-decoration: none;
    text-align: center;
}
.music-note{
	margin-top: 10px;
	margin-left: 20px;
}
